.container {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 50px;
}

label.dishTypeLabel {
  padding: 0 15px 0 5px;
  margin: 5px 0;
}

input.dishType {
  margin-left: 15px;
}
