.container {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  border: none;

  .wrongTime {
    color: #880e1a;
  }

  .timeOK {
    color: green;
  }

  span {
    margin-left: 20px;
    color: black;
  }
}

.TimePrepInput {
  width: 80px;
  height: 30px;
  padding: 0 10px;
  margin: 5px 15px;
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
  outline: none;
}
